body
{

	background-image:url(../images/cubed.png);
	background-repeat;
	}
	
.everypage{
	width:1000px;
	padding:10px;
	margin:50px;


	}


	
	
.themeboxcolor{
	background: #C0C0C0;
	color: #303030;
	font-size:20px;
	border-style:dashed;
	border-width:2px;
	padding:20px;
	}
	




	
	
	
	